<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>팀원 초대</title>
<link rel="stylesheet" href="/css/layout.css">
</head>
<body>
	<header>
		<h1>팀원 초대</h1>
	</header>
	<main>
		<form action="/invitations/send" method="post">
			<label for="recipientEmail">초대할 이메일:</label> <input type="email"
				id="recipientEmail" name="recipientEmail" required> <input
				type="hidden" name="projectId" th:value="${projectId}">
			<button type="submit">초대 전송</button>
		</form>
	</main>
</body>
</html>
